<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Task</title>
</head>

<body>

	<div class="container">

		<h3 style="font-size: 35px; font-family: 'Book Antiqua'; color: darkslateblue; text-align: center">MyToDo</h3>
		<hr>
		
		<p class="h4 mb-4">Save Task</p>
	
		<form action="#" th:action="@{/tasks/save}"
						 th:object="${task}" method="POST">

			<input type="hidden" th:field="*{id}"/>
		
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Title">

			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Details">

			<!-- Setting up reminder's time -->
			<!--<label>Reminder</label><input type="datetime-local" th:field="*{reminder}" th:value="*{reminder}"-->
				   <!--class="form-control mb-4 col-4" th:name="Reminder">-->

			<label>Deadline</label><input type="datetime-local" th:field="*{deadline}" th:value="*{deadline}"
					class="form-control mb-4 col-4" placeholder="Deadline">

			<select th:field="*{status}">
			<option th:value=false th:text="ToDo" ></option>
			<option th:value=true th:text="Done"></option>
			</select>
			<br>
				<br>

			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/tasks/list}">Back to Tasks List</a>
		
	</div>
</body>

</html>










